:root {
  --color-light: #FBFBFB;
  --color-black: #262626;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    margin-left: calc(100vw - 100%) !important;
    margin-right: 0 !important;
}

html, body {
    background-color: var(--color-light);
    margin: 0;
    color: var(--color-black);
    overflow-x: hidden;
    font-family: 'Roboto',sans-serif;
    height: 100%;
}

body > div {  
  height: 100%;
}